<h1 matDialogTitle>{{data.title}}</h1>

  <form [formGroup]="itemForm" (ngSubmit)="submit()" >
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="50" class="pr-16">
          
          <mat-radio-group [formControlName]="'status'" >
            <mat-radio-button value="option1">Tache</mat-radio-button>
            <mat-radio-button value="option2">Sous tache</mat-radio-button>
          </mat-radio-group>
      </div>
      <div *ngIf="itemForm.get('status').value === 'option1'" fxFlex="50" class="pr-16">
      
        <mat-form-field class="full-width">
          <mat-label>Phase</mat-label>
          <mat-select [formControlName]="'phaseNum'" >
            <mat-option *ngFor="let res of phases" [value]="res.id">{{res.name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
      <div *ngIf="itemForm.get('status').value === 'option2'" fxFlex="50" class="pr-16">
      
          <mat-form-field class="full-width">
            <mat-label>Tache</mat-label>
            <mat-select [formControlName]="'taskNum'" >
              <mat-option *ngFor="let task of dataSource" [value]="task.id">{{task.title}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div *ngIf="itemForm.get('status').value === 'option2'" fxFlex="50" class="pr-16">
      
        <mat-form-field class="full-width">
          <mat-label>Resources</mat-label>
          <mat-select [formControlName]="'resourceNum'">
            <mat-option *ngFor="let res of resources" [value]="res.id">{{res.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width">
          <input
          matInput
          name="title"
          type="text"
          [formControlName]="'title'"
          placeholder="Titre">
        </mat-form-field>
      </div>
 
    <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width">
     
        <mat-label>Date  début</mat-label>
        <input matInput name="startDate" formControlName="startDate" [min]="projectStartDate" [max]="projectEndDate" placeholder="Date début" [matDatepicker]="appDatepicker1" />
        <mat-datepicker-toggle matSuffix [for]="appDatepicker1"></mat-datepicker-toggle>
      
      </mat-form-field>
      <mat-datepicker #appDatepicker1></mat-datepicker>
    </div>
    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <mat-label>Date fin</mat-label>
        <input matInput name="endDate" formControlName="endDate"   [min]="projectStartDate" [max]="projectEndDate" placeholder="Date fin" [matDatepicker]="endDatePicker" />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #endDatePicker></mat-datepicker>
     
      <mat-error *ngIf="itemForm.get('endDate').errors?.min">
        La date de fin doit être postérieure à la date de début.
      </mat-error>
    </div>
         
        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <mat-label>status du tache</mat-label>
              <mat-select  [formControlName]="'taskPhase'">
                  <mat-option *ngFor="let x of taskPhase" [value]="x">{{ x }}</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="progression"
              type="number"
              [formControlName]="'progression'"
              placeholder="Progression">
            </mat-form-field>
          </div>
          <div *ngIf="itemForm.get('status').value === 'option2'" fxFlex="50" class="pr-16">
      
            <mat-form-field class="full-width">
              <input
              matInput
              type="number"
              name="reamining"
              [formControlName]="'remaining'"
              placeholder="reste a faire">
            </mat-form-field>
        </div>
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="description"
              [formControlName]="'description'"
              placeholder="commentaire">
            </mat-form-field>
          </div>
    <div fxFlex="100" class="mt-16">
      <button mat-raised-button color="primary" >{{"SAVE" | translate }}</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>