<mat-card class="p-0">
    <mat-card-title class="">
      
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div fxFlex="300" fxFlex.gt-sm="200">
          
            <mat-card class="p-0" style="width: 400px;">
                <mat-card-content>
              <div class="profile-title text-center mb-16">
                <div class="main-title"> <strong>Reference:</strong>{{ projet.projectReference }}</div>
                <div class="subtitle mb-8"><strong>Titre:</strong> {{ projet.name }}</div>
                <div class="subtitle mb-8"><strong>Description: </strong>  {{ projet.description }}</div>
                </div>
                </mat-card-content>
                </mat-card>
                
                <div fxFlex="100" fxFlex.gt-sm="50">
                    <mat-card class="p-0"  style="width: 400px;">
                    <mat-card-content>
              
                    <div class="profile-title text-center mb-16">
                      <div class="main-title"> <strong>Budget:</strong>{{ projet.budget }}</div>
                      <div class="subtitle mb-8"><strong>Date du début:</strong> {{ projet.startDate  | date:'dd-MM-yyyy' }}</div>
                      <div class="subtitle mb-8"><strong>Date du fin: </strong>  {{ projet.endDate | date:'dd-MM-yyyy' }}</div>
                      </div>
                      </mat-card-content>
                      </mat-card>
            </div>
            </div>
            </div>
            </mat-card-content>
            </mat-card>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon Orders
                  color="primary">person</mat-icon>
                  <h6 class="text-18 mb-4"> <strong> liste des responsables </strong></h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="m-12">


                <button mat-raised-button class="mb-2" style="float: right ;"  color="primary" (click)="openPopUp({},true)"> Affecter ressource </button>
          <mat-card  style="border: 5px; "  >
            <mat-card-content class="p-0">
              <mat-table [dataSource]="dataSource2" matSort  >
                <ng-container matColumnDef="Reference">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom
                      <div style="padding-left: 20px;">
                        
                       </div>
                     </mat-header-cell>
                    <mat-cell *matCellDef="let row"  [style.color]="row.color">{{row.lastName}} </mat-cell>
                  </ng-container>
            <ng-container matColumnDef="Titre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Prenom
                <div style="padding-left: 20px;">
                 
                 </div> </mat-header-cell>
              <mat-cell *matCellDef="let row"  [style.color]="row.color"> {{row.firstName}} </mat-cell>
            </ng-container>
          
            
          
            <ng-container matColumnDef="Date début">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fonction
                  <div style="padding-left: 20px;">
                    
                   </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="title" [style.color]="row.color">{{row.function}}</mat-cell>
              </ng-container>
               
            
             <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
             <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
           </mat-table>
           <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
          
          </mat-card-content>
          </mat-card>
        </div>
              </mat-expansion-panel>
           
              
                
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon Orders
                      color="primary"> person</mat-icon>
                      <h6 class="text-18 mb-4"> <strong> liste des ressource </strong></h6>
                    </mat-panel-title>

                  </mat-expansion-panel-header>
                  <div class="m-12">


                    <button mat-raised-button class="mb-2" style="float: right ;"  color="primary" (click)="openPopUp({},true)"> Affecter ressource </button>
              <mat-card  style="border: 5px; "  >
                <mat-card-content class="p-0">
                  <mat-table [dataSource]="dataSource" matSort  >
                    <ng-container matColumnDef="Reference">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nom
                          <div style="padding-left: 20px;">
                            
                           </div>
                         </mat-header-cell>
                        <mat-cell *matCellDef="let row"  [style.color]="row.color">{{row.lastName}} </mat-cell>
                      </ng-container>
                <ng-container matColumnDef="Titre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Prenom
                    <div style="padding-left: 20px;">
                     
                     </div> </mat-header-cell>
                  <mat-cell *matCellDef="let row"  [style.color]="row.color"> {{row.firstName}} </mat-cell>
                </ng-container>
              
                
              
                <ng-container matColumnDef="Date début">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Poste
                      <div style="padding-left: 20px;">
                        
                       </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="title" [style.color]="row.color">{{TitleMap[row.title]}}</mat-cell>
                  </ng-container>
                   
                
                 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                 <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               </mat-table>
               <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
              
              </mat-card-content>
              </mat-card>
            </div>
              </mat-expansion-panel>
            
              
         